<h1>Rate Event</h1>

    {# Render the rate form #}
    {{ form_start(form) }}
    {{ form_row(form.rate) }}
  

    

    

    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}